#problem
	.problem
		margin-top: 100px
		background-image: url("../img/bg-arrow.png")
		background-repeat: no-repeat
		width: 100%
		background-size: cover
		background-position: center top
		position: relative
		.container
			position: relative
			.row
				margin-bottom: 0
		&_wrap-people
			&_people
				position: absolute
				left: -60px
				bottom: 0
				@media only screen and (max-width : $extraSmallDevicesMax)
					left: -80px
		&_form-wrap
			padding-left: 15%
			margin-top: 140px
			position: relative
			z-index: 100
			margin-bottom: 30px
			padding-top: 60px
			&_descr
				text-transform: uppercase
				font-size: 30px
				padding-left: 74px
				@media only screen and (max-width : 601px)
					padding-left: 50px
				&_title
					p
						display: inline
						@media only screen and (max-width : 601px)
							font-size: 30px
						@media only screen and (max-width : $extraSmallDevicesMax)
							font-size: 24px
					span
						@media only screen and (max-width : 601px)
							font-size: 17px
						display: block
						font-size: 25px
						margin-top: 10px
						text-transform: none
					strong
						font-weight: 900
						text-transform: uppercase
				&_form
					form
						padding-top: 28px
						font-size: 16px
						position: relative
						margin-right: 15px
						input
							border: none
							width: 30%
							height: 40px
							border: 2px solid $colorBase4
							text-align: center
							border-radius: 5px
							background-color: $colorBase
							&:focus
								box-shadow: none
							@media only screen and (max-width : 924px)
								width: 320px
							@media only screen and (max-width : $extraSmallDevicesMax)
								width: 100%
								max-width: 320px
								font-size: 14px
								&::-webkit-input-placeholder 
									color: #808080
								&::-moz-placeholder 
									color: #808080
								&:-moz-placeholder
								   color: #808080
								&:-ms-input-placeholder
								   color: #808080
						button
							border: none
							border-radius: 5px
							min-height: 40px
							padding: 10px
							display: inline-block
							background-color: $colorTopMenu
							margin: 0 auto
							display: inline-block
							text-transform: uppercase
							color: $colorBase
							-webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.35)
							-moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.35)
							box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.35)
							@media only screen and (max-width : $extraSmallDevicesMax)
								width: 100%
								max-width: 320px
								font-size: 14px
