@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700&subset=latin,cyrillic,cyrillic-ext);
@font-face {
  font-family: "FiraSansLight";
  src: url("../fonts/FiraSans/FiraSansLight/FiraSansLight.eot");
  src: url("../fonts/FiraSans/FiraSansLight/FiraSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSansLight/FiraSansLight.woff") format("woff"), url("../fonts/FiraSans/FiraSansLight/FiraSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "FiraSansRegular";
  src: url("../fonts/FiraSans/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSans/FiraSansRegular/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/FiraSansRegular/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSans/FiraSansRegular/FiraSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font-family: "Fira Sans"; }

.container {
  width: 100%;
  max-width: 990px; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important; }

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  font-size: 50px;
  right: -15px; }

#modal {
  top: 40% !important;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  overflow: visible !important; }

.modal-content {
  position: relative; }
  .modal-content h2 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 26px; }
  .modal-content .modal-close {
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    height: 32px;
    width: 32px;
    background-image: url("../img/modal-close.png");
    background-repeat: no-repeat; }
  .modal-content .modal-city-wrap_modal-city {
    margin-top: 30px; }
    .modal-content .modal-city-wrap_modal-city a {
      display: block;
      padding: 10px 0;
      color: #000; }

#header .toast-content {
  width: 258px;
  display: block !important;
  position: absolute;
  right: -50px; }
  #header .toast-content .toast-wrap {
    background-color: #fff;
    color: #000;
    width: 258px;
    height: 80px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 0 5px;
    display: block;
    padding-top: 5px;
    position: absolute;
    top: 30px;
    right: 0;
    display: none; }
    #header .toast-content .toast-wrap:before {
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      position: absolute;
      top: -12px;
      margin: auto;
      right: 0;
      left: 0;
      background-image: url("../img/arrow-toast.png"); }
    #header .toast-content .toast-wrap p {
      color: #000;
      font-weight: 400; }
    #header .toast-content .toast-wrap button, #header .toast-content .toast-wrap a {
      margin-top: 5px;
      display: inline-block;
      vertical-align: top;
      height: 31px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25); }
    #header .toast-content .toast-wrap .yes {
      background-color: #74a52e;
      border: none;
      color: #fff;
      font-weight: 900;
      margin-right: 8px;
      width: 58px; }
    #header .toast-content .toast-wrap .sellect-city {
      background: #cfcfcf;
      border: none;
      width: 163px;
      line-height: 31px;
      color: #000; }

#header .header {
  background-image: url("../img/header-bg-2.png");
  background-repeat: no-repeat;
  font-family: 'Fira Sans', sans-serif;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  min-height: 500px;
  overflow: hidden; }
  #header .header_top_menu {
    background-color: #74a52e;
    height: 70px; }
    @media only screen and (max-width: 991px) {
      #header .header_top_menu {
        width: 100%;
        position: absolute; } }
    @media only screen and (max-width: 991px) {
      #header .header_top_menu ul {
        display: none; } }
    #header .header_top_menu ul li {
      width: 12.5%;
      float: left;
      height: 70px;
      text-align: center;
      border-right: 1px solid rgba(255, 255, 255, 0.8);
      position: relative; }
      #header .header_top_menu ul li:hover {
        background-color: #fff;
        font-weight: 900; }
        #header .header_top_menu ul li:hover a {
          color: #000; }
        #header .header_top_menu ul li:hover > ul {
          display: block; }
      #header .header_top_menu ul li > a {
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
        font-size: 13px;
        display: block;
        height: 100%;
        padding-top: 20px; }
      #header .header_top_menu ul li > ul {
        background-color: #fff;
        display: block;
        position: absolute;
        min-width: 300px;
        display: none;
        padding-top: 20px;
        position: relative;
        z-index: 2000;
        right: 1px; }
        #header .header_top_menu ul li > ul > li {
          display: block;
          background-color: #fff;
          width: 100%;
          margin: 0;
          padding: 0;
          height: auto; }
          #header .header_top_menu ul li > ul > li > a {
            color: #000;
            display: block;
            text-align: left;
            padding-top: 0;
            padding: 10px 0;
            padding-left: 20px;
            font-weight: 100; }
            #header .header_top_menu ul li > ul > li > a:hover {
              background-color: #74a52e;
              color: #fff; }
  #header .header_dop-info {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 15px; }
    @media only screen and (max-width: 991px) {
      #header .header_dop-info {
        z-index: 102;
        margin-top: 5px; } }
    @media only screen and (max-width: 479px) {
      #header .header_dop-info {
        font-size: 14px; } }
    #header .header_dop-info_help {
      position: relative;
      text-align: center;
      color: #fff; }
      @media only screen and (max-width: 991px) {
        #header .header_dop-info_help {
          margin-top: 20px;
          margin-bottom: 16px; } }
      #header .header_dop-info_help_title {
        text-transform: uppercase; }
      #header .header_dop-info_help p {
        text-align: center;
        display: block; }
        #header .header_dop-info_help p div {
          text-align: center;
          display: inline-block; }
      #header .header_dop-info_help div {
        display: inline-block; }
        #header .header_dop-info_help div #city {
          color: #74a52e;
          text-decoration: underline;
          cursor: pointer;
          position: relative; }
    #header .header_dop-info span {
      text-align: center;
      display: block;
      color: #fff;
      margin: 0 auto; }
      @media only screen and (max-width: 991px) {
        #header .header_dop-info span {
          display: inline-block; } }
    @media only screen and (max-width: 991px) {
      #header .header_dop-info_logo {
        width: 100%;
        text-align: center;
        margin-top: 3px;
        display: inline-block; }
        #header .header_dop-info_logo img {
          height: 59px;
          display: inline-block; } }
    @media only screen and (max-width: 991px) and (max-width: 479px) {
      #header .header_dop-info_logo img {
        height: 50px; } }
    #header .header_dop-info_mobile-menu {
      height: 28px;
      width: 20px;
      margin: 0 auto;
      display: block;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 25px; }
      #header .header_dop-info_mobile-menu > span {
        display: block;
        height: 4px;
        width: 28px;
        background-color: #fff;
        margin-bottom: 4px; }
      @media only screen and (min-width: 992px) {
        #header .header_dop-info_mobile-menu {
          display: none; } }
    #header .header_dop-info_phone {
      color: #fff;
      text-align: right;
      font-weight: 700; }
      @media only screen and (max-width: 600px) {
        #header .header_dop-info_phone {
          position: relative;
          right: 55px; } }
      #header .header_dop-info_phone_phone-wrap {
        white-space: nowrap;
        color: #fff; }
      #header .header_dop-info_phone address {
        white-space: nowrap;
        font-size: 30px;
        margin-bottom: 12px; }
        @media only screen and (max-width: 992px) {
          #header .header_dop-info_phone address {
            text-decoration: underline;
            font-size: 24px;
            margin-top: 8px; } }
        @media only screen and (max-width: 479px) {
          #header .header_dop-info_phone address {
            font-size: 16px;
            margin-bottom: 6px;
            margin-top: 10px; } }
      #header .header_dop-info_phone p {
        white-space: nowrap;
        display: inline-block;
        text-align: right; }
        @media only screen and (max-width: 479px) {
          #header .header_dop-info_phone p {
            font-size: 12px; } }
        #header .header_dop-info_phone p a {
          margin-left: 8px;
          color: #74a52e;
          text-decoration: underline; }
          @media only screen and (max-width: 992px) {
            #header .header_dop-info_phone p a {
              display: none; } }
  #header .header_title {
    font-family: "Fira Sans";
    font-size: 46px;
    color: #fff;
    font-weight: 900;
    margin-top: 25px;
    padding: 0 10px; }
    @media only screen and (max-width: 992px) {
      #header .header_title h1 {
        font-size: 31px; } }
    @media only screen and (max-width: 479px) {
      #header .header_title h1 {
        font-size: 22px; } }
    #header .header_title_type {
      width: 675px;
      height: 76px;
      background-image: url("../img/type.png");
      background-repeat: no-repeat;
      margin: 0 auto;
      background-size: contain;
      background-position: center;
      margin-top: 48px;
      margin-bottom: 57px; }
      @media only screen and (max-width: 991px) {
        #header .header_title_type {
          background-image: url("../img/mini-type.png");
          width: 471px;
          background-size: contain;
          width: 100%;
          max-width: 460px;
          margin-top: 25;
          margin-bottom: 37px; } }
      @media only screen and (max-width: 479px) {
        #header .header_title_type {
          height: 80px;
          margin-bottom: 10px;
          margin-top: 10px; } }
      #header .header_title_type span {
        font-size: 20px;
        color: #000;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        top: 30%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
        @media only screen and (max-width: 991px) {
          #header .header_title_type span {
            font-size: 15px;
            top: 25%; } }
        @media only screen and (max-width: 460px) {
          #header .header_title_type span {
            font-size: 10.5px;
            top: 20%; } }
        #header .header_title_type span i {
          width: 20px;
          height: 27px;
          display: inline-block;
          background-image: url("../img/watch.png");
          position: relative;
          top: 4px; }
          @media only screen and (max-width: 991px) {
            #header .header_title_type span i {
              width: 20px;
              height: 24px;
              background-size: contain;
              background-repeat: no-repeat; } }
          @media only screen and (max-width: 460px) {
            #header .header_title_type span i {
              width: 17px;
              height: 17px; } }
    #header .header_title_info {
      font-size: 18px;
      font-weight: 100; }
      @media only screen and (max-width: 991px) {
        #header .header_title_info {
          font-size: 16px; }
          #header .header_title_info > span > span {
            display: block; } }
      #header .header_title_info > span > span {
        color: #e5bd19;
        line-height: 30px;
        vertical-align: middle; }
      #header .header_title_info > em {
        display: block; }
      #header .header_title_info > i {
        height: 13px;
        width: 24px;
        background-image: url("../img/arrow.png");
        display: block;
        margin: 0 auto;
        margin-top: 27px;
        margin-bottom: 27px; }
    #header .header_title_form > form {
      margin-bottom: 110px; }
      #header .header_title_form > form input {
        display: inline-block;
        background-color: #fff;
        width: 278px;
        height: 45px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        color: #999;
        text-align: center;
        font-weight: 500; }
        #header .header_title_form > form input::-webkit-input-placeholder {
          color: #808080; }
        #header .header_title_form > form input::-moz-placeholder {
          color: #808080; }
        #header .header_title_form > form input:-moz-placeholder {
          color: #808080; }
        #header .header_title_form > form input:-ms-input-placeholder {
          color: #808080; }
        #header .header_title_form > form input:focus {
          -webkit-box-shadow: none !important;
                  box-shadow: none !important; }
      #header .header_title_form > form button {
        display: inline-block;
        background-color: #74a52e;
        color: #fff;
        font-weight: 600;
        border: none;
        font-size: 16px;
        height: 47px;
        width: 278px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        color: #fff;
        border: none;
        -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35);
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35); }

#header .header_title {
  text-align: center; }
  #header .header_title strong {
    color: #fff;
    position: relative;
    top: 50px;
    font-size: 46px;
    line-height: 60px; }

#header .header-type {
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/type.png");
  background-repeat: no-repeat;
  height: 72px;
  background-position: center;
  top: 100px; }
  @media only screen and (max-width: 991px) {
    #header .header-type {
      background-image: url("../img/mini-type.png"); } }
  #header .header-type p {
    text-transform: uppercase;
    position: relative;
    top: 26px;
    font-size: 18px; }
    #header .header-type p i {
      position: absolute;
      background-image: url("../img/watch.png");
      width: 20px;
      height: 27px;
      left: 80px;
      top: -6px; }

#header .dop-info {
  text-align: center;
  color: #fff;
  top: 150px;
  position: relative;
  line-height: 20px; }
  #header .dop-info strong {
    color: #e5bd19; }
  #header .dop-info i {
    background-image: url("../img/arrow.png");
    width: 24px;
    height: 13px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 120%; }

.about {
  margin-top: 60px;
  font-family: "Fira Sans"; }
  .about_title {
    padding: 0 .75rem;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 100; }
    @media only screen and (max-width: 800px) {
      .about_title {
        font-size: 38px; } }
    @media only screen and (max-width: 479px) {
      .about_title {
        font-size: 30px; } }
    .about_title:after {
      content: "";
      display: block;
      height: 7px;
      width: 71px;
      margin-top: 10px;
      background-color: #e5bd19; }
    .about_title strong {
      font-weight: 900; }
  .about_wrap {
    clear: both;
    margin-top: 50px; }
    .about_wrap_map {
      padding: 0.75em; }
      .about_wrap_map_item {
        width: 100%;
        height: 215px; }
        @media only screen and (max-width: 800px) {
          .about_wrap_map_item {
            height: 313px; } }
    .about_wrap_descr p {
      font-size: 14px;
      margin-bottom: 45px;
      font-weight: 500;
      line-height: 40px; }
    .about_wrap_descr_items {
      margin-top: 10%;
      margin-bottom: 31px; }
      .about_wrap_descr_items_item-wrap_item {
        white-space: nowrap; }

.person {
  margin: 20px 0;
  font-family: "Fira Sans"; }
  .person_title {
    padding: 0 .75rem;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 100; }
    @media only screen and (max-width: 601px) {
      .person_title {
        font-size: 38px; } }
    @media only screen and (max-width: 479px) {
      .person_title {
        font-size: 30px; } }
    .person_title:after {
      content: "";
      display: block;
      height: 7px;
      width: 71px;
      margin-top: 10px;
      background-color: #e5bd19; }
    .person_title strong {
      font-weight: 900; }
  .person_wrap {
    clear: both;
    margin-top: 50px;
    position: relative; }
    .person_wrap_avatar_img {
      overflow: hidden;
      float: none;
      position: relative;
      margin-bottom: 30px; }
      .person_wrap_avatar_img > img {
        max-width: 219px;
        width: 100%; }
    .person_wrap_form-wrap_title {
      font-size: 28px;
      margin-bottom: 34px;
      text-align: left; }
    .person_wrap_form-wrap_descr {
      text-align: left; }
    .person_wrap_form-wrap_form {
      margin-top: 30px;
      background-image: url("../img/form-bg.jpg");
      background-size: cover;
      padding-top: 30px;
      padding-bottom: 30px; }
      .person_wrap_form-wrap_form form input {
        -webkit-border-radius: 5px;
                border-radius: 5px;
        width: 100%;
        max-width: 218px;
        height: 40px;
        text-align: center;
        display: inline-block;
        background-color: #fff; }
        .person_wrap_form-wrap_form form input:focus {
          border-bottom: none;
          -webkit-box-shadow: none !important;
                  box-shadow: none !important; }
        .person_wrap_form-wrap_form form input::-webkit-input-placeholder {
          color: #808080; }
        .person_wrap_form-wrap_form form input::-moz-placeholder {
          color: #808080; }
        .person_wrap_form-wrap_form form input:-moz-placeholder {
          color: #808080; }
        .person_wrap_form-wrap_form form input:-ms-input-placeholder {
          color: #808080; }
        @media only screen and (max-width: 601px) {
          .person_wrap_form-wrap_form form input {
            display: block;
            margin-right: auto;
            margin-left: auto; } }
      .person_wrap_form-wrap_form form button {
        border: none;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        height: 40px;
        width: 100%;
        max-width: 218px;
        display: inline-block;
        background-color: #74a52e;
        margin: 0 auto;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35);
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35); }
    .person_wrap_counter-wrap {
      text-align: center; }
      .person_wrap_counter-wrap_counter {
        white-space: nowrap; }
        @media only screen and (max-width: 992px) {
          .person_wrap_counter-wrap_counter {
            margin-top: 80px;
            float: left; } }
        @media only screen and (max-width: 479px) {
          .person_wrap_counter-wrap_counter {
            margin-top: 40px; } }
        .person_wrap_counter-wrap_counter span {
          display: block;
          font-weight: 900;
          margin-bottom: 8px; }
          @media only screen and (max-width: 479px) {
            .person_wrap_counter-wrap_counter span {
              font-size: 14px; } }
        .person_wrap_counter-wrap_counter_number {
          display: inline-block;
          width: 31px;
          height: 59px;
          line-height: 59px;
          font-size: 38px;
          background-image: url("../img/number.png");
          margin-bottom: 8px; }
          @media only screen and (max-width: 479px) {
            .person_wrap_counter-wrap_counter_number {
              font-size: 25px;
              width: 24px;
              height: 52px;
              line-height: 52px;
              background-size: contain;
              background-repeat: no-repeat;
              margin-bottom: 0; } }
  .person_page-wrap {
    text-align: center;
    position: relative; }
    .person_page-wrap_line {
      height: 2px;
      width: 100%;
      background-color: #d3d3d3;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .person_page-wrap_page {
      display: inline-block;
      background-color: #fff;
      border: 2px solid #d3d3d3;
      color: #d3d3d3;
      height: 34px;
      width: 33px;
      line-height: 34px;
      vertical-align: middle;
      cursor: pointer;
      position: relative;
      z-index: 10; }
    .person_page-wrap .active-page {
      border: 4px solid #e5bd19;
      color: #e5bd19;
      line-height: 30px; }
  .person .wrap-number-page {
    display: inline-block;
    padding: 10px;
    position: relative;
    z-index: 100;
    background-color: #fff; }

#person-slider {
  text-align: center; }
  #person-slider div {
    outline: none; }

#recall .recall {
  margin: 20px 0;
  font-family: "Fira Sans"; }
  #recall .recall_title {
    padding: 0 .75rem;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 40px;
    margin-top: 70px; }
    @media only screen and (max-width: 601px) {
      #recall .recall_title {
        font-size: 38px; } }
    @media only screen and (max-width: 479px) {
      #recall .recall_title {
        font-size: 30px; } }
    #recall .recall_title:after {
      content: "";
      display: block;
      height: 7px;
      width: 71px;
      margin-top: 10px;
      background-color: #e5bd19; }
    #recall .recall_title strong {
      font-weight: 900; }
  #recall .recall_page-wrap {
    text-align: center;
    position: relative; }
    #recall .recall_page-wrap_line {
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: #FFF;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #d3d3d3; }
    #recall .recall_page-wrap_page {
      display: inline-block;
      background-color: #fff;
      border: 2px solid #d3d3d3;
      color: #d3d3d3;
      font-family: "Fira Sans";
      height: 34px;
      width: 33px;
      line-height: 34px;
      vertical-align: middle;
      cursor: pointer;
      position: relative;
      z-index: 10; }
    #recall .recall_page-wrap .active-page {
      border: 4px solid #e5bd19;
      color: #e5bd19;
      line-height: 30px; }

.wrap-number-page {
  display: inline-block;
  padding: 10px;
  position: relative;
  z-index: 100;
  background-color: #fff; }

@media only screen and (max-width: 601px) {
  .hidden {
    display: none; } }

#recal-slider {
  text-align: center; }
  #recal-slider div {
    outline: none; }
  #recal-slider .popup-doc {
    max-width: 109px;
    display: inline-block; }
  #recal-slider img {
    border: 6px solid #ccc;
    outline: none;
    margin: 0 auto;
    width: 100%;
    max-width: 109px; }
    @media only screen and (max-width: 479px) {
      #recal-slider img {
        max-width: 80px; } }

.slick-dots {
  display: inline;
  position: relative;
  background-color: #fff;
  z-index: 200;
  top: 56px; }
  .slick-dots li {
    background-color: #fff;
    border: 2px solid #d3d3d3;
    color: #d3d3d3;
    font-family: "Fira Sans";
    height: 34px;
    width: 33px;
    line-height: 34px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    z-index: 900; }
    .slick-dots li a {
      color: #d3d3d3; }
  .slick-dots .slick-active {
    border: 2px solid #e5bd19; }
    .slick-dots .slick-active a {
      color: #e5bd19;
      font-weight: 900; }

#question .question {
  margin-top: 100px;
  background-image: url("../img/bg-arrow.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center top;
  position: relative; }
  @media only screen and (max-width: 857px) {
    #question .question {
      margin-top: 50px; } }
  #question .question .container {
    position: relative; }
    #question .question .container .row {
      margin-bottom: 0; }
  #question .question_wrap-people_people {
    position: absolute;
    left: -55px;
    bottom: -3px;
    max-width: 165px;
    width: 100%; }
    @media only screen and (max-width: 957px) {
      #question .question_wrap-people_people {
        max-width: 194px; } }
    @media only screen and (max-width: 420px) {
      #question .question_wrap-people_people {
        left: -65px; } }
  #question .question_form-wrap {
    width: 100%;
    max-width: 828px;
    float: right;
    margin-top: 34px;
    position: relative;
    z-index: 100;
    overflow: hidden;
    text-align: center;
    padding: 0; }
    @media only screen and (max-width: 957px) {
      #question .question_form-wrap {
        padding-left: 10%; } }
    @media only screen and (max-width: 857px) {
      #question .question_form-wrap {
        padding-left: 20%; } }
    @media only screen and (max-width: 557px) {
      #question .question_form-wrap {
        padding-left: 25%;
        margin-top: 29px; } }
    @media only screen and (max-width: 420px) {
      #question .question_form-wrap {
        padding-left: 30%; } }
    #question .question_form-wrap_descr {
      text-transform: uppercase;
      margin: 0 auto; }
      #question .question_form-wrap_descr_title {
        text-align: left; }
        #question .question_form-wrap_descr_title p {
          display: block;
          font-size: 32px;
          margin: 0 auto;
          display: inline-block; }
          @media only screen and (max-width: 957px) {
            #question .question_form-wrap_descr_title p {
              font-size: 30px; } }
          @media only screen and (max-width: 420px) {
            #question .question_form-wrap_descr_title p {
              font-size: 24px; } }
        #question .question_form-wrap_descr_title span {
          font-size: 25px;
          display: block;
          margin-bottom: 20px;
          font-size: 25px;
          margin-top: 10px;
          text-transform: none; }
          @media only screen and (max-width: 957px) {
            #question .question_form-wrap_descr_title span {
              font-size: 17px; } }
          @media only screen and (max-width: 557px) {
            #question .question_form-wrap_descr_title span {
              margin-bottom: 10px;
              margin-top: 5px; } }
          @media only screen and (max-width: 420px) {
            #question .question_form-wrap_descr_title span {
              font-size: 16px; } }
        #question .question_form-wrap_descr_title strong {
          font-weight: 900;
          text-transform: uppercase; }
      #question .question_form-wrap_descr_form form {
        padding-bottom: 21px;
        font-size: 16px;
        font-size: 0;
        text-align: left; }
        @media only screen and (max-width: 957px) {
          #question .question_form-wrap_descr_form form {
            position: relative; } }
        #question .question_form-wrap_descr_form form input {
          border: none;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          height: 40px;
          display: inline-block;
          border: 2px solid #a8a8a8;
          text-align: center;
          border-radius: 5px;
          background-color: #fff;
          max-width: 260px;
          width: 100%;
          font-size: 16px;
          margin-right: 13px;
          margin-bottom: 5px; }
          #question .question_form-wrap_descr_form form input:focus {
            -webkit-box-shadow: none !important;
                    box-shadow: none !important; }
          #question .question_form-wrap_descr_form form input::-webkit-input-placeholder {
            color: #808080; }
          #question .question_form-wrap_descr_form form input::-moz-placeholder {
            color: #808080; }
          #question .question_form-wrap_descr_form form input:-moz-placeholder {
            color: #808080; }
          #question .question_form-wrap_descr_form form input:-ms-input-placeholder {
            color: #808080; }
          @media only screen and (max-width: 957px) {
            #question .question_form-wrap_descr_form form input {
              max-width: 230px; } }
          @media only screen and (max-width: 857px) {
            #question .question_form-wrap_descr_form form input {
              display: block;
              max-width: 75%; } }
          @media only screen and (max-width: 420px) {
            #question .question_form-wrap_descr_form form input {
              max-width: 170%;
              width: 93.5%; } }
        #question .question_form-wrap_descr_form form button {
          border: none;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          height: 47px;
          font-size: 16px;
          width: 268px;
          display: block;
          vertical-align: top;
          background-color: #74a52e;
          margin: 0 auto;
          position: relative;
          top: -2px;
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35); }
          @media only screen and (max-width: 957px) and (min-width: 858px) {
            #question .question_form-wrap_descr_form form button {
              max-width: 230px; } }
          @media only screen and (max-width: 857px) {
            #question .question_form-wrap_descr_form form button {
              max-width: 170%;
              width: 75.5%; } }
          @media only screen and (max-width: 420px) {
            #question .question_form-wrap_descr_form form button {
              max-width: 170%;
              width: 95%; } }

#problem .problem {
  margin-top: 100px;
  background-image: url("../img/bg-arrow.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center top;
  position: relative; }
  #problem .problem .container {
    position: relative; }
    #problem .problem .container .row {
      margin-bottom: 0; }
  #problem .problem_wrap-people_people {
    position: absolute;
    left: -60px;
    bottom: 0; }
    @media only screen and (max-width: 479px) {
      #problem .problem_wrap-people_people {
        left: -80px; } }
  #problem .problem_form-wrap {
    padding-left: 15%;
    margin-top: 140px;
    position: relative;
    z-index: 100;
    margin-bottom: 30px;
    padding-top: 60px; }
    #problem .problem_form-wrap_descr {
      text-transform: uppercase;
      font-size: 30px;
      padding-left: 21%; }
      @media only screen and (max-width: 601px) {
        #problem .problem_form-wrap_descr {
          padding-left: 50px; } }
      #problem .problem_form-wrap_descr_title p {
        display: inline; }
        @media only screen and (max-width: 601px) {
          #problem .problem_form-wrap_descr_title p {
            font-size: 30px; } }
        @media only screen and (max-width: 479px) {
          #problem .problem_form-wrap_descr_title p {
            font-size: 24px; } }
      #problem .problem_form-wrap_descr_title span {
        display: block;
        font-size: 25px;
        margin-top: 10px;
        text-transform: none; }
        @media only screen and (max-width: 601px) {
          #problem .problem_form-wrap_descr_title span {
            font-size: 17px; } }
      #problem .problem_form-wrap_descr_title strong {
        font-weight: 900;
        text-transform: uppercase; }
      #problem .problem_form-wrap_descr_form form {
        padding-top: 28px;
        font-size: 16px;
        position: relative;
        margin-right: 15px; }
        #problem .problem_form-wrap_descr_form form input {
          border: none;
          width: 30%;
          height: 40px;
          border: 2px solid #a8a8a8;
          text-align: center;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          background-color: #fff; }
          #problem .problem_form-wrap_descr_form form input:focus {
            -webkit-box-shadow: none;
                    box-shadow: none; }
          @media only screen and (max-width: 924px) {
            #problem .problem_form-wrap_descr_form form input {
              width: 320px; } }
          @media only screen and (max-width: 479px) {
            #problem .problem_form-wrap_descr_form form input {
              width: 100%;
              max-width: 320px;
              font-size: 14px; }
              #problem .problem_form-wrap_descr_form form input::-webkit-input-placeholder {
                color: #808080; }
              #problem .problem_form-wrap_descr_form form input::-moz-placeholder {
                color: #808080; }
              #problem .problem_form-wrap_descr_form form input:-moz-placeholder {
                color: #808080; }
              #problem .problem_form-wrap_descr_form form input:-ms-input-placeholder {
                color: #808080; } }
        #problem .problem_form-wrap_descr_form form button {
          border: none;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          height: 40px;
          padding: 10px;
          display: inline-block;
          background-color: #74a52e;
          margin: 0 auto;
          display: inline-block;
          text-transform: uppercase;
          color: #fff;
          -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35); }
          @media only screen and (max-width: 479px) {
            #problem .problem_form-wrap_descr_form form button {
              width: 100%;
              max-width: 320px;
              font-size: 14px; } }

@media only screen and (max-width: 645px) {
  #items .items {
    margin-right: 15px;
    margin-left: 15px; } }

#items .items h2 {
  margin-top: 86px;
  font-family: "Fira Sans"; }
  #items .items h2 strong {
    display: block; }
  @media only screen and (max-width: 601px) {
    #items .items h2 {
      font-size: 38px;
      margin-top: 45px; }
      #items .items h2 strong {
        display: inline; } }
  @media only screen and (max-width: 479px) {
    #items .items h2 {
      font-size: 30px; } }

#items .items_wrap-items {
  margin-top: 61px;
  font-size: 0;
  text-align: center; }
  #items .items_wrap-items_item {
    font-size: 16px;
    height: 374px;
    display: inline-block;
    vertical-align: top;
    border: 6px solid #e5bd19;
    width: 100%;
    max-width: 300px;
    margin-right: 45px;
    margin-bottom: 100px;
    position: relative; }
    @media only screen and (min-width: 990px) {
      #items .items_wrap-items_item:nth-child(3n+3) {
        margin-right: 0; }
      #items .items_wrap-items_item:last-child {
        margin-right: 0; } }
    @media only screen and (max-width: 989px) and (min-width: 646px) {
      #items .items_wrap-items_item:nth-child(2n+2) {
        margin-right: 0; } }
    @media only screen and (max-width: 645px) {
      #items .items_wrap-items_item {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 399px; } }
    #items .items_wrap-items_item img {
      position: relative;
      top: -60px;
      max-width: 300px;
      left: 0;
      float: left;
      width: 100%; }
      @media only screen and (max-width: 645px) {
        #items .items_wrap-items_item img {
          float: none; } }
    #items .items_wrap-items_item_info {
      text-align: left;
      display: inline-block;
      position: absolute;
      right: 14px;
      top: 20px; }
      @media only screen and (max-width: 645px) {
        #items .items_wrap-items_item_info {
          right: 60px; } }
      #items .items_wrap-items_item_info > span {
        background-color: #74a52e;
        position: relative;
        z-index: 100;
        padding: 5px;
        text-transform: uppercase;
        font-family: "Fira Sans";
        color: #fff;
        display: inline-block;
        float: left; }
    #items .items_wrap-items_item_price-wrap {
      font-family: "Fira Sans";
      font-weight: 400;
      position: relative;
      top: -60px;
      clear: both;
      padding: 10px;
      display: inline-block;
      margin-bottom: 5px; }
      #items .items_wrap-items_item_price-wrap_price {
        display: inline;
        background-image: url("../img/dot.png");
        background-repeat: repeat-X;
        width: 100%;
        background-position: center 80%;
        color: #000;
        margin: 10px 0; }
        #items .items_wrap-items_item_price-wrap_price .col {
          padding: 0;
          float: none; }
        #items .items_wrap-items_item_price-wrap_price:hover {
          color: #74a52e; }
          #items .items_wrap-items_item_price-wrap_price:hover span {
            text-decoration: underline; }
        #items .items_wrap-items_item_price-wrap_price_name-wrap {
          display: inline-block;
          text-align: left;
          max-width: 160px;
          width: 100%; }
          #items .items_wrap-items_item_price-wrap_price_name-wrap_name {
            background-color: #fff;
            display: inline-block;
            padding-bottom: 12px;
            font-size: 13px; }
        #items .items_wrap-items_item_price-wrap_price_num-wrap {
          text-align: right;
          display: inline-block;
          vertical-align: bottom; }
          #items .items_wrap-items_item_price-wrap_price_num-wrap_num {
            display: inline-block;
            background-color: #fff;
            padding-bottom: 12px;
            font-size: 13px; }
            #items .items_wrap-items_item_price-wrap_price_num-wrap_num:last-child {
              background-color: none; }

#items .items_type {
  width: 100%;
  max-width: 645px;
  background-image: url("../img/item-type.png");
  height: 65px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px; }
  @media only screen and (max-width: 645px) {
    #items .items_type {
      max-width: 399px; } }
  #items .items_type > strong {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Fira Sans";
    font-weight: 900;
    line-height: 65px;
    position: relative;
    display: inline-block; }
    @media only screen and (max-width: 645px) {
      #items .items_type > strong {
        font-size: 16px;
        left: 15px; } }
    @media only screen and (max-width: 380px) {
      #items .items_type > strong {
        font-size: 14px; } }
    @media only screen and (max-width: 340px) {
      #items .items_type > strong {
        font-size: 13px; } }
    #items .items_type > strong > i {
      width: 35px;
      display: block;
      height: 40px;
      background-image: url("../img/item-ico.png");
      position: absolute;
      top: 8px;
      left: -55px; }
      @media only screen and (max-width: 645px) {
        #items .items_type > strong > i {
          left: -40px; } }
      @media only screen and (max-width: 360px) {
        #items .items_type > strong > i {
          width: 30px;
          height: 35px;
          background-size: cover;
          top: 12px;
          left: -35px; } }

#mobile-mnu .side-nav {
  background-color: #333;
  text-align: right;
  z-index: 100000; }
  #mobile-mnu .side-nav .close-nav {
    display: block;
    padding-top: 40px;
    margin-bottom: 20px; }
    #mobile-mnu .side-nav .close-nav > i {
      background-image: url("../img/close.png");
      background-size: cover;
      width: 24px;
      height: 24px;
      display: block;
      cursor: pointer;
      position: relative; }
  #mobile-mnu .side-nav li {
    position: relative;
    padding: 0 30px; }
    #mobile-mnu .side-nav li a {
      display: inline-block;
      padding: 0;
      font-size: 16px;
      color: #fff;
      border-bottom: 1px solid #2e2e2e;
      text-transform: uppercase; }
      #mobile-mnu .side-nav li a > i {
        background-image: url("../img/arrow-m.png");
        background-size: cover;
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        right: 20px;
        top: 2px;
        cursor: pointer; }
      #mobile-mnu .side-nav li a:hover {
        background-color: inherit; }
    #mobile-mnu .side-nav li ul {
      display: none; }
      #mobile-mnu .side-nav li ul li {
        padding: 0; }
        #mobile-mnu .side-nav li ul li a {
          color: #c8c8c8;
          font-size: 14px;
          padding-right: 25px; }
    #mobile-mnu .side-nav li .open {
      display: block; }

#content .conten-title {
  text-transform: uppercase; }
  #content .conten-title h2 {
    font-size: 46px; }
  #content .conten-title strong {
    font-weight: 900; }
    #content .conten-title strong:after {
      content: "";
      display: block;
      height: 7px;
      width: 71px;
      margin-top: 10px;
      background-color: #e5bd19; }

#content .items .items-wrap {
  margin: 0; }
  @media only screen and (max-width: 991px) {
    #content .items .items-wrap {
      width: 50%; } }
  @media only screen and (max-width: 761px) {
    #content .items .items-wrap {
      width: 100%; } }
  #content .items .items-wrap .item {
    border: 6px solid #e5bd19;
    vertical-align: middle;
    height: 372px;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-top: 50px;
    position: relative; }
    #content .items .items-wrap .item img {
      position: relative;
      top: -30px;
      width: 100%; }
    #content .items .items-wrap .item .item-title {
      background-color: #74a52e;
      color: #fff;
      position: absolute;
      right: 20px;
      padding: 10px;
      text-transform: uppercase; }
      #content .items .items-wrap .item .item-title em {
        font-style: normal;
        display: block; }
      #content .items .items-wrap .item .item-title p {
        display: block; }
    #content .items .items-wrap .item .services li a {
      color: #000;
      display: block;
      margin: 10px;
      background-image: url("../img/dot.png");
      background-position: center bottom;
      background-repeat-Y: no-repeat;
      display: block;
      font-size: 13px; }
      #content .items .items-wrap .item .services li a:hover {
        text-decoration: underline;
        color: #74a52e; }
        #content .items .items-wrap .item .services li a:hover span {
          text-decoration: underline; }
      #content .items .items-wrap .item .services li a span {
        background-color: #fff;
        margin: 10px 0;
        vertical-align: bottom; }
      #content .items .items-wrap .item .services li a .servis-name {
        float: left;
        text-align: left;
        width: 150px;
        display: block;
        overflow: hidden; }
      #content .items .items-wrap .item .services li a .price {
        float: right;
        text-align: right; }

#content .problem {
  margin-top: 100px;
  height: 200px;
  background-image: url("../img/bg-arrow.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center top;
  position: relative;
  margin-bottom: 50px; }
  #content .problem .people-wrap {
    width: 260px;
    height: 100%; }
  #content .problem img {
    height: 288px;
    position: absolute;
    bottom: 0; }
  #content .problem .preblem-form {
    float: right;
    margin-left: 260px; }
    #content .problem .preblem-form h3 {
      font-size: 30px;
      margin-top: 65px;
      text-align: right;
      white-space: nowrap; }
  #content .problem .form-wrap {
    float: right;
    position: relative;
    z-index: 10; }
    #content .problem .form-wrap form {
      vertical-align: middle;
      float: right; }
      #content .problem .form-wrap form input {
        width: 276px;
        height: 45px;
        background-color: #fff;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        margin: 0 5px;
        text-align: center; }
      #content .problem .form-wrap form button {
        width: 369px;
        height: 45px;
        background-color: #74a52e;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        margin: 0 5px;
        text-align: center;
        color: #fff;
        border: none;
        -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35);
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.35); }

#content .special-title {
  text-transform: uppercase; }
  #content .special-title h2 {
    font-size: 46px; }
  #content .special-title strong {
    font-weight: 900; }
    #content .special-title strong:after {
      content: "";
      display: block;
      height: 7px;
      width: 71px;
      margin-top: 10px;
      background-color: #e5bd19; }

.special .special-wrap .avatar {
  width: 230px;
  overflow: hidden;
  height: 300px;
  border: 1px solid red;
  position: relative; }
  .special .special-wrap .avatar img {
    width: 150%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: 0;
    left: 0;
    right: 0; }

.special .special-wrap .about {
  margin-left: 20px; }
  .special .special-wrap .about h4 {
    margin: 0;
    font-size: 28px; }
  .special .special-wrap .about p {
    margin-top: 20px; }

.map {
  text-transform: uppercase; }
  .map h2 {
    font-size: 46px; }
    .map h2:after {
      content: "";
      display: block;
      height: 7px;
      width: 71px;
      margin-top: 10px;
      background-color: #e5bd19; }
    .map h2 strong {
      font-weight: 900; }

#footer .footer {
  padding: 40px 0;
  padding-bottom: 20px;
  background-image: url("../img/footer-bg.jpg");
  background-position: center bottom;
  background-size: cover; }
  #footer .footer_help {
    margin-bottom: 30px; }
    @media only screen and (max-width: 479px) {
      #footer .footer_help {
        font-size: 14px; } }
    #footer .footer_help_title {
      text-transform: uppercase; }
    #footer .footer_help p {
      text-align: center;
      color: #fff; }
      #footer .footer_help p strong {
        text-align: center; }
    #footer .footer_help a {
      color: #74a52e;
      text-decoration: underline; }
  #footer .footer span {
    text-align: center;
    display: block;
    color: #fff;
    margin: 0 auto; }
    @media only screen and (max-width: 991px) {
      #footer .footer span {
        display: inline-block; } }
  @media only screen and (max-width: 991px) {
    #footer .footer_logo {
      width: 100%;
      text-align: center;
      margin-top: 3px;
      display: inline-block; }
      #footer .footer_logo img {
        height: 59px;
        display: inline-block; } }
    @media only screen and (max-width: 991px) and (max-width: 479px) {
      #footer .footer_logo img {
        height: 50px; } }
  #footer .footer_phone {
    color: #fff;
    text-align: right;
    font-weight: 700;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      #footer .footer_phone {
        position: relative; } }
    #footer .footer_phone-wrap {
      white-space: nowrap;
      color: #fff;
      display: inline-block;
      text-align: right; }
    #footer .footer_phone address {
      white-space: nowrap;
      font-size: 30px;
      margin-bottom: 12px; }
      @media only screen and (max-width: 992px) {
        #footer .footer_phone address {
          text-decoration: underline;
          font-size: 24px;
          margin-top: 8px; } }
      @media only screen and (max-width: 479px) {
        #footer .footer_phone address {
          font-size: 16px;
          margin-bottom: 6px;
          margin-top: 10px; } }
    #footer .footer_phone p {
      white-space: nowrap;
      display: inline-block;
      text-align: right; }
      @media only screen and (max-width: 479px) {
        #footer .footer_phone p {
          font-size: 12px; } }
      #footer .footer_phone p a {
        margin-left: 8px;
        color: #74a52e;
        text-decoration: underline; }
        @media only screen and (max-width: 992px) {
          #footer .footer_phone p a {
            display: none; } }
  #footer .footer_copy {
    text-align: center;
    background-color: #363d4b;
    color: rgba(255, 255, 255, 0.3);
    min-height: 40px; }
    @media only screen and (max-width: 601px) {
      #footer .footer_copy {
        font-size: 11px; } }
    #footer .footer_copy p {
      padding: 10px 0; }
